
<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Logeado</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Logeado</ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="ion-padding">
    <div style="display: flex; align-items: center;">
      <app-menu-nav></app-menu-nav>
      <p style="margin-left: 10px;">{{ usuario }} está logeado! Puedes navegar por las opciones</p>
    </div>
    <img src="..\assets\img\imgRetailOff.png" style="display: block; margin-top: 20px; width: 100%; height: auto;" />
  </div>
  
</ion-content>