<ion-menu contentId="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-title>Menú</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list>
      <ion-item href="/home" button="true">
        <ion-icon name="home-outline" slot="start"></ion-icon>
        Inicio
      </ion-item>
      <ion-item href="/scan" button="true">
        <ion-icon name="barcode" slot="start"></ion-icon>
        Scan
      </ion-item>
      <ion-item href="/history" button="true">
        <ion-icon name="book" slot="start"></ion-icon>
        History
      </ion-item>
      <ion-item href="/cliente" button="true">
        <ion-icon name="person-add-outline" slot="start"></ion-icon>
        Cliente
      </ion-item>
      <ion-item href="/producto" button="true">
        <ion-icon name="bag-add-outline" slot="start"></ion-icon>
        Producto
      </ion-item>
      <ion-item href="/envio" button="true">
        <ion-icon name="send-outline" slot="start"></ion-icon>
        Envio
      </ion-item>
    </ion-list>
  </ion-content>
</ion-menu>
<div id="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
</div>