<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button routerLink="/logeado">
        <ion-icon name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Saldos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Saldos</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card>
    <ion-card-content>
      <ion-list>
        <ion-item *ngFor="let movimiento of movimientos">
          <ion-label>{{ movimiento.accion }}</ion-label>
          <ion-label>{{ movimiento.valor }}</ion-label>
        </ion-item>
      </ion-list>
      <ion-item>
        <ion-label>Total:</ion-label>
        <ion-label>{{ saldoTotal }}</ion-label>
      </ion-item>
    </ion-card-content>
  </ion-card>
</ion-content>