<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button routerLink="/logeado">
        <ion-icon name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Envio</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Envio</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card>
    <form #envioForm="ngForm">
      <ion-card-content>
        
        <ion-item>
          <ion-label position="stacked">Nombre</ion-label>
          <ion-input type="text" [(ngModel)]="nombre" name="nombre"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="stacked">Direccion</ion-label>
          <ion-input type="text" [(ngModel)]="direccion" name="direccion"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="stacked">Id cliente</ion-label>
          <ion-input type="text" [(ngModel)]="idcliente" name="idcliente"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="stacked">Id producto</ion-label>
          <ion-input type="text" [(ngModel)]="idproducto" name="idproducto"></ion-input>
        </ion-item>
  
        <ion-button (click)="postEnvio(envioForm)" expand="full">Crear envio</ion-button>
        
      </ion-card-content>
    </form>
  </ion-card>
  

</ion-content>
