<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button routerLink="/home">
        <ion-icon name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Registro</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>

      <ion-title size="large">Registro</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card>
    <form #registroForm="ngForm" (ngSubmit)="registrar()">
      <ion-card-content>
        
        <ion-item>
          <ion-label position="stacked">Email</ion-label>
          <ion-input type="text" [(ngModel)]="username" name="username"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="stacked">Contraseña</ion-label>
          <ion-input type="password" [(ngModel)]="password" name="password"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="stacked">Confirmar contraseña</ion-label>
          <ion-input type="password" [(ngModel)]="cpassword" name="cpassword"></ion-input>
        </ion-item>

        <ion-button expand="full" type="submit">Registrarse</ion-button>
        
      </ion-card-content>
    </form>
  </ion-card>
</ion-content>